.delete {
    width: 15px;
    height: 15px;
}

body {
    background-color: #1f1f1f;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

input[type="text"], input[type="password"], input[type="mail"] {
    background: none;
    height: 33px;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color : white; 
    padding : 0.125rem; 
}

.btn, input[type="submit"] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin:0.3rem;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover, input[type="submit"]:hover {
    color: #000000;
    background-color: #FFFFFF;
}

form > * {
    margin : 0.375rem; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.films-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    /* grid-gap : 1rem;  */
}

.film-card {
    background-color: rgb(82, 78, 78);
    width: 200px;
    text-align: center;
    padding: .5rem;
    transition: all 0.2s;
    margin: .5rem;
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    max-height: 150px;
    max-width: 250px;
    padding: 5rem;
}

.film-card:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, .2);
}

.resume {
    font-style: italic;
}

.genre-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 5rem;
}

.history-item > *{
    margin : .5rem; 

}